body {
  background-color: black;
  color: white;
}

.container {
  width: 80%;
  margin: auto;
  background-color: rgb(37, 32, 32);
  border-radius: 20%;
}

.heading {
  font-family: "Lobster", cursive;
}
#title {
  text-align: center;
  font-size: 90%;
}

#span1 {
  color: red;
}

#img-div {
  text-align: center;
}

#image {
  width: 400px;
  border-radius: 40px;
}
#info {
  width: 80%;
  /*background-color: aqua;*/
  margin: 15px auto;
  text-align: justify;
  font-size: 20px;
}
#marvel {
  color: red;
  margin-left: 10%;
}
ul {
  width: 80%;
  margin: auto;
}
li {
  font-size: 24px;
  line-height: 50px;
}

#footer {
  border: 1px solid;
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 30px;
  font-size: 24px;
}

#link {
  text-decoration: none;
  color: white;
  border: 2px solid orange;
  border-radius: 10px;
  padding: 15px;
}

#link:hover {
  color: red;
  background-color: gray;
}
